@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>密码找回</title>
    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            background: url(../../Image/back.jpg);
            background-size: cover;
        }

        #title {
            font-family: "微软雅黑";
            font-size: 50px;
            position: relative;
            top: 20px;
            text-decoration: underline;
        }

        #sctitle {
            font-family: "微软雅黑";
            font-size: 30px;
        }

        #titlediv {
            background: url(../../Image/5c1f6acc79984b8f1e8ece9b19ca7afe.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 800px;
            height: 140px;
            border-bottom-color: aliceblue;
            border-style: inset;
            position: relative;
            left: 300px;
        }

        #homediv {
            width: 700px;
            position: relative;
            left: 320px;
        }

        #vimg {
            position: relative;
            top: 198px;
        }
    </style>
</head>
<body>
    <div>
        <div id="titlediv">
            <div id="title" style="color:white">密码找回</div><br />
            <div id="sctitle" style="color:white">Retrieve Password</div>
        </div>
        <div id="homediv">
            @using (Html.BeginForm("ModifPwd", "Login", FormMethod.Post))
            {
                <div class="col-xs-2" style=" width:600px;position:relative;top:30px;">
                    <label class="col-sm-4 control-label" style="font-family:'微软雅黑';font-size:15px;">请输入新密码:</label><br />
                    <input type="password" name="NewPwd" class="form-control" placeholder="新密码...">
                </div>
                <div class="col-xs-2" style=" width:600px;position:relative;top:30px;">
                    <label class="col-sm-4 control-label" style="font-family:'微软雅黑';font-size:15px;">请再次输入新密码:</label><br />
                    <input type="password" name="NewPwdSec" class="form-control" placeholder="新密码...">
                </div>
                <div class="col-xs-2" style=" width:600px;position:relative;top:50px;">
                    <label class="col-sm-4 control-label" style="font-family:'微软雅黑';font-size:15px;">验证码:</label><br />
                    <input type="text" class="form-control" name="vcode" id="vcode" placeholder="Verification Code...">
                </div>
                <img id="vimg" src="/Vcode/getVcode" />
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10" style="position: relative; top:60px;">
                        <button type="submit" class="btn btn-info" id="btn" style="position: relative;left:135px;">提交</button>
                        <div style="font-family:'微软雅黑';font-size:12px;position:relative;left:350px;top:-30px;">@Html.ActionLink("返回登陆页面", "Index", "Login")</div>
                    </div>
                </div>
            }

        </div>
    </div>
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
