@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>人员信息 </title>
    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            background: url(../../Image/back.jpg);
            background-size: cover;
        }

        #title {
            font-family: "微软雅黑";
            font-size: 50px;
            position: relative;
            top: 20px;
            text-decoration: underline;
        }

        #sctitle {
            font-family: "微软雅黑";
            font-size: 30px;
        }

        #titlediv {
            background: url(../../Image/5c1f6acc79984b8f1e8ece9b19ca7afe.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 800px;
            height: 140px;
            border-bottom-color: aliceblue;
            border-style: inset;
            position: relative;
            left: 300px;
        }

        #weldiv {
            width: 800px;
            height: 50px;
            position: relative;
            left: 300px;
            font-family: "微软雅黑";
            font-size: 20px;
            background: url(../../Image/back1.jpg);
            background-size: cover;
        }

        #selectdiv {
            width: 800px;
            font-family: "微软雅黑";
            position: relative;
            left: 300px;
        }
    </style>

</head>
<body>
    <div>
        <div id="titlediv">
            <div id="title" style="color:white">在组人员信息</div><br />
            <div id="sctitle" style="color:white">Personnel information</div>
        </div>
        <div id="weldiv">欢迎你,用户：@Session["Name"].ToString()。</div>
        <div id="selectdiv">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    请选择
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="Index">查看所有人员</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="SelectAllMems">按组查看</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="SelectGrade">按年级查看</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="SelectMajor">按院系查看</a></li>

                </ul>

                <div style="font-family:'微软雅黑';font-size:12px;position:relative;left:350px;top:-20px;">@Html.ActionLink("返回", "Index", "Home")</div>

            </div>
            <div>
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation"><a href="GetOneMajor">经济管理学院</a></li>
                    <li role="presentation"><a href="GetTwoMajor">外国语学院</a></li>
                    <li role="presentation"><a href="GetThreeMajor">理学院</a></li>
                    <li role="presentation"><a href="GetFourMajor">软件学院</a></li>
                    <li role="presentation"><a href="GetFiveMajor">艺术学院</a></li>
                    <li role="presentation"><a href="GetOtherMajor">其它</a></li>
                </ul>
            </div>
            <div>

                <table border="1" style="text-align:center;border-collapse:collapse;background-color:aliceblue;" class="table">
                    <tr>
                        <th>用户名</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>院系</th>
                        <th>年级</th>
                        <th>所在组</th>
                    </tr>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@item.user_name</td>
                            <td>@item.user_realname</td>
                            <td>
                                @if (item.user_gender == "1")
                                {
                                    @:@("男")
                                }
                                @if (item.user_gender == "0")
                                {
                                    @:@("女")
                                }
                            </td>
                            <td>
                                @if (item.user_major.ToString() == "1")
                                {
                                    @:@("经济管理学院")
                                }
                                @if (item.user_major.ToString() == "2")
                                {
                                    @:@("外国语学院")
                                }
                                @if (item.user_major.ToString() == "3")
                                {
                                    @:@("理学院")
                                }
                                @if (item.user_major.ToString() == "4")
                                {
                                    @:@("软件学院")
                                }
                                @if (item.user_major.ToString() == "5")
                                {
                                    @:@("艺术学院")
                                }
                                @if (item.user_major.ToString() == "6")
                                {
                                    @:@("其他")
                                }
                            </td>
                            <td>
                                @if (item.user_grade.ToString() == "1")
                                {
                                    @:@("一年级")
                                }
                                @if (item.user_grade.ToString() == "2")
                                {
                                    @:@("二年级")
                                }
                                @if (item.user_grade.ToString() == "3")
                                {
                                    @:@("三年级")
                                }
                                @if (item.user_grade.ToString() == "4")
                                {
                                    @:@("四年级")
                                }
                                @if (item.user_grade.ToString() == "5")
                                {
                                    @:@("五年级")
                                }
                                @if (item.user_grade.ToString() == "6")
                                {
                                    @:@("其他")
                                }

                            </td>
                            <td>
                                @if (item.user_group.ToString() == "0")
                                {
                                    @:@("C#")
                            }
                                @if (item.user_group.ToString() == "1")
                                {
                                    @:@("Java")
                            }
                                @if (item.user_group.ToString() == "2")
                                {
                                    @:@("UI")
                            }
                                @if (item.user_group.ToString() == "3")
                                {
                                    @:@("运维")
                            }
                                @if (item.user_group.ToString() == "4")
                                {
                                    @:@("数据库")
                            }
                            </td>
                        </tr>
                    }

                </table>
            </div>

        </div>

    </div>
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>